extends ../../layout_admin.jade
block contenido
    div(class="col-md-6 remove-float content-center big-top-space big-bottom-space")
        h1(class='PostJob') Post a Job
        form(action="/app/admin/jobs/#{job.id}?_method=PUT" method="POST")
            div(class="form-group")
                label(for="category") Category
                select(name="category" id="category", class="form-control", value= "#{job.category}")
                   each cat in category 
                        option(value = "#{cat}") #{cat}
                   
                
            div(class="form-group")
                label(for="type") Type
                br

                input(type="radio", name="type", value="#{job.type}")
                label(for="FullTime", class="radio-inline margin-right") Full Time

                input(type="radio", name="type", value="#{job.type}")
                label(for="PartTime", class="radio-inline margin-right") Part Time

                input(type="radio", name="type", value="#{job.type}")
                label(for="Freelance", class="radio-inline margin-right") Freelance

            div(class="form-group")
                label(for="company") Company
                input(type="text" name="company", placeholder="Company", id="company", class="form-control", value="#{job.company}")
            
            div(class="form-group")
                label(for="logo") Logo
                input(type="file" name="logo", placeholder="Choose logo", id="logo", class="form-control", value="#{job.logo}")

            div(class="form-group")
                label(for="url") URL
                input(type="text" name="url", placeholder="URL", id="url", class="form-control", value="#{job.url}")

            div(class="form-group")
                label(for="position") Position
                input(type="text" name="position", placeholder="Position", id="position", class="form-control", value="#{job.position}")

            div(class="form-group")
                label(for="location") Location
                input(type="text" name="location", placeholder="Location", id="location", class="form-control", value="#{job.location}")
            
            div(class="form-group")
                label(for="description") Description
                textarea(name="description", rows="10", placeholder="#{job.description}", id="description", class="form-control")
            
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit", value="Save", class="btn btn-info")