extends ../../layout.jade
block contenido
    div(class="container")
        for job in jobs
            .white.border.tr.large-padding
                .row
                    .col-md-10
                        h3= job.category
                        
                        h3.bold Type:
                        h4= job.type
                        
                        h3.bold Company:
                        h4= job.company

                        img(src="/public/jobs_images/#{job._id}.#{job.extension}")
                        
                        h3.bold Position:
                        h4= job.position

                        h3.bold Location:
                        h4= job.location

                        h3.bold Description:
                        h4= job.description
                    .col-md-2
                        a(href="/app/jobs/#{job._id}/edit", class="Edit") Edit
                        form(action="/app/jobs/#{job._id}?_method=DELETE", class="link", method="POST")
                            input(type="submit", value="Delete")