extends ../../layout.jade
block contenido
    h1= job.category
        h3= job.type
        h3= job.company
        //h3 = job.logo
        h3= job.position
        h3= job.location
        h3= job.description