extends ../../layout_user.jade

block contenido
    
    
            h1.design  Design
            hr
            br

            table.tabla
                tr 
                    th Location
                    th Position
                    th Company
                    th Views
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6c952a24053021410b08eadb96700114bd4a9a28

            for jobs in users_jobs
                if ( jobs.category == "Design")
                    tr 
                        td #{jobs.location}
                        td #{jobs.position}
                        td #{jobs.company}
                        td
                            a(href="/app/user_jobs/#{jobs._id}/user_post", class="Post-color") Post
                            a(href="/app/user_jobs/#{jobs._id}/user_info", class="Info-color") Info
                    br
<<<<<<< HEAD
=======
=======
                    
                for jobs in users_jobs
                    if ( jobs.category == "Design")
                        tr 
                            td #{jobs.location}
                            td #{jobs.position}
                            td #{jobs.company}
                            td
                                a(href="/app/user_jobs/#{jobs._id}/user_post", class="right-space color") Post
                                a(href="/app/user_jobs/#{jobs._id}/user_info", class="right-space color") Info
                        br
>>>>>>> 559f8291a96be3b28c46fcae149d3161dc7283d4
>>>>>>> 6c952a24053021410b08eadb96700114bd4a9a28
            br
            h1.prog Programming 
            hr
            br
            table.tabla
                tr 
                    th Location
                    th Position
                    th Company
                    th Views
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6c952a24053021410b08eadb96700114bd4a9a28
            for jobs in users_jobs
                if ( jobs.category == "Programming")
                    tr 
                        td #{jobs.location}
                        td #{jobs.position}
                        td #{jobs.company}
                        td
                            a(href="/app/user_jobs/#{jobs._id}/user_post", class="Post-color") Post
                            a(href="/app/user_jobs/#{jobs._id}/user_info", class="Info-color") Info
                    br
            br
<<<<<<< HEAD
=======
=======
                for jobs in users_jobs
                    if ( jobs.category == "Programming")
                        tr 
                            td #{jobs.location}
                            td #{jobs.position}
                            td #{jobs.company}
                            td
                             a(href="/app/user_jobs/#{jobs._id}/user_post", class="right-space color") Post
                             a(href="/app/user_jobs/#{jobs._id}/user_info", class="right-space color") Info
                        br
                br
>>>>>>> 559f8291a96be3b28c46fcae149d3161dc7283d4
>>>>>>> 6c952a24053021410b08eadb96700114bd4a9a28
