extends ../../layout_user.jade
block contenido
    div(class="d-flex justify-content-center container  remove-float content-center big-top-space big-bottom-space")
    
        form(action="/app/user_jobs/#{job._id}/user_post" method="POST") 
            
            
            label.company(class="col-xs-1")=job.company
            br
            br
            div(class="text")
                label=job.location 

            hr
            label.type(class="col-xs-1")=job.position
            label.type - 
            label.type(class="text")=job.type
            hr 
            
            label.info(class="text")=job.description
            br
            br
            img(src="/public/jobs_images/#{job._id}.#{job.extension}")
            br
            br
            label.howToApply(class="col-xs-1") How to apply?
        
            if (typeof job.creator != "undefined")
                p.info(class="text") Contact us at #{job.creator.email}
                        
            div(class="row top-space hide-button")
                div(class="col-xs-12 col-sm-6")
                    form(action="/app/user_jobs/#{job._id}/user_post" method="POST")
                        input(type="submit", value="Post", class="btn btn-info")
        
    div(class="d-flex justify-content-center align-items-center") 
        form(action="/app/user_jobs/user_home")
            input(type="submit", value="Back", class="btn btn-warning btn-lg")
        