extends ../../layout_user.jade
block contenido
    h1 Welcome to User Info
    div(class="col-md-6 remove-float content-center big-top-space big-bottom-space")
    form(action="/app/user_jobs/#{job.id}?_method=PUT" method="POST")
        for jobs in users_jobs
            h5 Compañia: #{jobs.company}
            h5 Location: #{jobs.location}
            h5 Position: #{jobs.position}
            h5 Type: #{jobs.type}
            h5 Description: #{jobs.description}
            h5 Logo 
            img(src="/public/jobs_images/#{jobs._id}.#{jobs.extension}")
        
            .col-md-2
                form(action="#")
                    input(type="submit", value="Post to a Job", class="btn btn-info")

                form(action="/app/user_jobs/user_home")
                    input(type="submit", value="Back", class="btn btn-warning")
            br