extends ../layout.jade
block contenido
    for job in jobs
        div(class="img-container")
            h1= job.category

                h3.bold Type:
                h4= job.type
                
                h3.bold Company:
                h4= job.company

                img(src="/public/jobs_images/#{job._id}.#{job.extension}", class="main-img")
                
                h3.bold Position:
                h4= job.position

                h3.bold Location:
                h4= job.location

                h3.bold Description:
                h4= job.description
            if (typeof job.creator != "undefined")
                p Post by #{job.creator.email}