extends ../layout.jade
block contenido
    for job in extension
        div(class="img-container")
            h1= job.category
                h3= job.type
                h3= job.company
                img(src="/public/jobs_images/#{job._id}.#{job.extension}", class="main-img")
                h3= job.position
                h3= job.location
                h3= job.description
            if (typeof job.creator != "undefined")
                p Post by #{job.creator.email}
